<div class="form-group">
    <span
        class="dbp-ui-amount-input__currency-symbol"
        ng-bind="$ctrl.currencySymbol">
    </span><!-- These comments to prevent unneeded spaces between elements
    --><input
        type="number"
        min="0"
        ng-model="$ctrl.integer"
        placeholder="0"
        pattern="[0-9]*"
        class="dbp-ui-amount-input__integer"
        ng-change="$ctrl.onInput()"
    /><!--
    --><span
        class="dbp-ui-amount-input__separator"
        ng-bind="$ctrl.separator">
    </span><!--
    --><input
        type="number"
        min="0"
        max="99"
        ng-model="$ctrl.decimal"
        placeholder="00"
        pattern="[0-9]*"
        ng-change="$ctrl.onInput()"
        ng-blur="$ctrl.onDecimalBlur()"
        class="dbp-ui-amount-input__decimal"
    />
</div>
