.mobile-login {
    height: 100%;
}

.mobile-login .container {
    text-align: center;
}
.mobile-login .backbase-logo {
    text-align: center;
    margin: 20% 0 15%;
}

.mobile-login .backbase-logo img {
    width: 75%;
    max-width: 400px;
}

.login-form {
    margin: 0 auto;
    max-width: 400px;
}

.login-form .form-group {
    margin: 0;
}

.login-form .form-group.username {
    margin-bottom: 1px;
}


.login-form .form-group .form-control {
    -webkit-box-shadow: 0px 100px 0px 0px rgba(0,0,0,0);
    -moz-box-shadow: 0px 100px 0px 0px rgba(0,0,0,0);
    box-shadow: 0px 100px 0px 0px rgba(0,0,0,0);
    border: none;
    border-radius: 0;
    height: 44px;
}

.login-form.user-password .form-group.username .form-control {
    border-radius: 6px 6px 0px 0px;
    -moz-border-radius: 6px 6px 0px 0px;
    -webkit-border-radius: 6px 6px 0px 0px;
}

.login-form.user-password .form-group.password .form-control {
    border-radius: 0px 0px 6px 6px;
    -moz-border-radius: 0px 0px 6px 6px;
    -webkit-border-radius: 0px 0px 6px 6px;
}

.login-form.user-password .form-group.password {
    margin-bottom: 34px;
}

.login-digits {
    margin-left: -10px;
    margin-right: -10px;
}
.login-digit {
    display: inline-block;
    width: 20%;
    padding-left: 10px;
    padding-right: 10px;
}
.login-digit input {
    text-align: center;
}

body {
    background-image: url("../assets/bg.jpeg");
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}
