<div class="recipient-beneficiary-container">
    <div class="form-group">
        <input placeholder="{{$ctrl.labels.TRANSFER_BENEFICIARY_NAME}}" class="beneficiary" 
               ng-model="$ctrl.transfer.counterpartyName" 
               required="required"
               ng-keyup="$ctrl.transfer.isNewContact = true"/>
        <button type="button" class="address-book btn btn-link" ng-click="$ctrl.onRecipient()">
            <i class="icon icon-user detail-icon"></i>
        </button>
    </div>

    <div class="form-group">
        <div iban-input="" 
             suggested-banks="{{$ctrl.banks}}"
             value="$ctrl.transfer.counterpartyIban"
             keyup-event="$ctrl.ibanKeyUp()"></div> 
    </div>

    <div class="form-group widget-mobile-transfer-initiation-add-contact" ng-if="$ctrl.transfer.isNewContact">
        <label class="form-label checkbox">
            <span class="form-checkbox">
                <input type="checkbox" ng-model="$ctrl.transfer.addContact"  />
                <i class="icon icon-check-square" ng-show="$ctrl.transfer.addContact"></i>
                <i class="icon icon-square" ng-hide="$ctrl.transfer.addContact"></i>
            </span>
            {{$ctrl.labels.TRANSFER_ADD_TO_ADDRESSBOOK}}
        </label>
    </div>
</div>
