<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:g="http://www.backbase.com/2008/gadget" xml:lang="en">

<head>
    <title>Mobile Transfer Initiation</title>
    <meta http-equiv="Content-Type" content="text/xml; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <!-- externals -->
    <!-- <script src="$(contextRoot)/static/features/[BBHOST]/angular/angular.js"></script> -->
    <script src="$(contextRoot)/static/features/[BBHOST]/feature-iban/iban.js"></script>
    <script src="$(contextRoot)/static/features/[BBHOST]/feature-format-amount/format-amount.js"></script>
    <script src="$(contextRoot)/static/features/[BBHOST]/feature-account-panel/account-panel.js"></script>
    <script src="$(contextRoot)/static/features/[BBHOST]/feature-service-accounts/service-accounts.js"></script>
    <script src="$(contextRoot)/static/features/[BBHOST]/feature-service-transfers/service-transfers.js"></script>
    <script src="$(contextRoot)/static/features/[BBHOST]/feature-mobile-plugins/mobile-plugins.js"></script>
    <link rel="stylesheet" type="text/css" href="$(contextRoot)/static/features/[BBHOST]/shc-theme-retail-mobile/dist/styles/main.css"/>
    <link rel="stylesheet" type="text/css" href="$(contextRoot)/static/widgets/[BBHOST]/widget-mobile-transfer-initiation/components/dbp-ui-amount-input/dist/styles/dbp-ui-amount-input.css"/>
    <!-- widget -->
    <link rel="stylesheet" href="dist/styles/widget-mobile-transfer-initiation.css" type="text/css" />
    <script src="dist/widget-mobile-transfer-initiation.js"></script>
</head>

<body g:onload="window['widget-mobile-transfer-initiation'](__WIDGET__).start();"
    ng-controller="MainCtrl as mainCtrl"
    ng-cloak="ng-cloak"
    class="widget-mobile-transfer-initiation">

    <form name="transferForm" class="widget-mobile-transfer-initiation-form transfer-data"
                        ng-controller="TransferCtrl as transferCtrl"
                        ng-submit="transferCtrl.onSubmit(transferForm.$valid, transferForm)"
                        novalidate="novalidate">

        <div class="widget-mobile-transfer-initiation-from"
              ng-class="{'selected': transferCtrl.transfer.fromAccount.accountIdentification}">
            <bb-mobile-account-select-button
                labels="transferCtrl.Label"
                selected="transferCtrl.transfer.fromAccount"
                on-click="transferCtrl.gotoSelectAccount()"
                class="select-account">
            </bb-mobile-account-select-button>
        </div>

        <input type="hidden" name="accountId" required="required"
            ng-model="transferCtrl.editTransfer.accountId" />

        <div class="widget-mobile-transfer-initiation-recipient" ng-class="{'empty': !transferCtrl.transfer.fromAccount.accountIdentification}">
            <bb-mobile-transfer-recipient
                labels="transferCtrl.Label"
                transfer="transferCtrl.editTransfer"
                banks="{{transferCtrl.suggestedBanks}}"
                recipient="transferCtrl.transfer.recipient"
                on-recipient="transferCtrl.gotoSelectRecipient()"
            class="recipient-form">
            </bb-mobile-transfer-recipient>

            <div class="dbp-ui-amount-input-wrapper" ng-class="{'empty': !transferCtrl.transfer.fromAccount.accountIdentification}">
                <dbp-ui-amount-input ng-model="transferCtrl.editTransfer.instructedAmount"
                    name="instructedAmount"
                    placeholder="{{transferCtrl.Label.TRANFER_AMOUNT}}" required="required"></dbp-ui-amount-input>
            </div>

            <div class="recipient-form">
                <!-- DESCRIPTION -->
                <div class="form-group">
                    <textarea placeholder="{{transferCtrl.Label.TRANSFER_DESCRIPTION}}"
                           ng-model="transferCtrl.editTransfer.description"></textarea>
                </div>

                <!-- REFERENCE -->
                <div class="form-group">
                    <input placeholder="{{transferCtrl.Label.TRANSFER_REFERENCE}}"
                           name="remittanceInformation"
                           bb-reference=""
                           valid-reference=""
                           pattern="[0-9 ]*"
                           type="text"
                           ng-model="transferCtrl.editTransfer.remittanceInformation" />
                </div>
            </div>

            <!-- SCHEDULE -->
            <div class="widget-mobile-transfer-initiation-schedule" ng-class="{'empty': !transferCtrl.transfer.fromAccount.accountIdentification}">
                <div class="form-group" ng-click="transferCtrl.gotoSelectScheduleDate()">
                    <i class="icon icon-calendar"></i>
                    <div>{{transferCtrl.transfer.schedule.dateText + ' - ' + transferCtrl.transfer.schedule.frequencyText}}</div>
                </div>
            </div>

        </div>
        <div class="review">
            <button type="submit" class="btn btn-primary btn-lg btn-block" 
                    ng-disabled="!!transferForm.$error.required" ng-bind="::transferCtrl.Label.REVIEW_AND_SUBMIT_TRANSFER"></button>
        </div>

    </form>


</body>

</html>
