.widget-mobile-transfer-accounts{
    .panel-title {
        background-color: #ece8e4;
        margin: 0;
        padding: 10px 15px;
        font-size: 12px;
    }

    .accounts-list {
        margin-top: 0px;
    }

    .accounts-list > li.panel.panel-default {
        margin-bottom: 0;
        border-bottom: 1px solid #ece8e4;
    }
    .accounts-list .account .account-title {
        font-size: 18px;
    }

    .contact-block .account-title {
        font-size: 18px;
        margin: 0 0 5px;
    }
    .account-list-item-balance {
        padding-right: 0;
    }
}