.widget-faq-body {
    overflow: hidden;
}
.widget-faq-category {
	margin: 0;
    padding: 10px 15px;
    font-size: 12px;
}
.widget-faq .question-q,
.widget-faq .answer-a {
    display: block;
    text-align: center;
    padding: 10px 0px;
}

.widget-faq .question-text,
.widget-faq .answer-text {
    padding: 10px 0px;
    box-sizing: border-box;
    font-size: 15px;
    letter-spacing: -1px;
}

.widget-faq .answer-text,
.widget-faq .answer-a {
	padding-top: 0;
}

.widget-faq .question-text a,
.widget-faq .answer-text a {
    color: #1281ab;
    text-decoration: underline;
}

.widget-faq .answer-link a {
    float: right;
    padding: 0px 10px 5px 5px;
}

.widget-faq .answer-container {
    display: none;
}

.widget-faq-question > .col-xs-2 {
	padding-right: 0;
}
.widget-faq-question > .col-xs-10 {
	padding-left: 0;
}
.widget-faq-answer > .col-xs-2 {
	padding-right: 0;
}
.widget-faq-answer > .col-xs-10 {
	padding-left: 0;
}