<div class="text-background">
    <h2>{{banner.title}}</h2>
    <div>{{{banner.description}}}</div>
    <div class="image-panel image-thumbnail">
        <img class="bg-image" src="{{banner.image.path}}" alt=""/>
    </div>
</div>