<div class="lp-content-block lp-content-advanced">
	<div class="image-panel image-thumbnail">
		<img class="bg-image" src="{{advContent.advTopImage.path}}" alt=""/>
	</div>
	<div class="text-panel">{{{advContent.text}}}</div>
</div>