.accounts-title {
    font-size: 12px;
    padding: 10px 0;
    margin: 0;
    background: @brand-element-background-gray;
}

.accounts-list {
    margin: 0;
    padding: 0;
    list-style: none;

    &.list-group {
        margin: 0;
    }

    > li {
        &.panel.panel-default {
            position: relative;
            margin-bottom: 10px;
        }
    }
}

.account-list-item-left {
    float: left;
    width: 60%;
}

.account-list-item-right {
    float: right;
    width: 40%;
}

.account-list-item-title {
    margin: 0;
    font-size: 18px;
    height: 18px;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.account-list-item-detail-icon {
    position: absolute;
    right: 20px;
    top: 50%;
    font-size: 20px;
    color: @gray-light;
    transform: translateY(-50%);
}

.account-list-item-iban {
    font-size: 12px;
    font-weight: 300;
}

.accounts-list {

    .account-balance-label {
        font-size: 12px;
        font-weight: 300;
        margin-bottom: -8px;
    }


}

.account-list-item-balance {
    padding: 0;
    margin: 0;
    font-size: 18px;
    font-weight: 500;
    padding-right: 30px;

    &.format-amount {
        .currency {
            font-size: 18px;
            color: @text-color;
        }
    }

    .integer {
        line-height: 36px;
    }

    .decimals {
        font-size: 50%;
        vertical-align: text-top;
    }

}

.search {
    position: fixed;
}
