.avatar-initials {
	display: inline-block;
	&:before {
		content: attr(data-initials);
	    height: 35px;
	    width: 35px;
	    display: block;
	    line-height: 35px;
	    border-radius: 50%;
	    -webkit-border-radius: 50%;
	    -moz-border-radius: 50%;
	    font-size: 20px;
	    background: #fff;
	    color: #423c35;
	    text-transform: uppercase;
	    text-align: center;
	    border: 1px solid #bab2aa;
	}
}
.avatar-img {
	text-align: center;
	img {
		border: 1px solid #bcb4ac;
	    height: 35px;
	    width: 35px;
	    box-sizing: border-box;
	}
}