.bill-payment {
	input {
		float: left;
		width: 25%;
		box-sizing: border-box;
		background: transparent;
		border:none;
		border-right: 1px solid #ece8e4;
		border-radius: 0;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		&:last-child {
			border-right: none;
		}
	}
}