.bb-iban-input {
	position: relative;
	ul {
		position: absolute;
		top: 30px;
		left: 0;
		width: calc(100% + 30px);
		padding: 10px;
		list-style: none;
		z-index: 3;
		margin: 0;
		background: #fff;
		.clearfix();
		margin-left: -15px;
    	border-top: 1px solid #ECE8E4;
		li {
			float: left;
			margin-right: 10px;
			.border-top-radius(10px);
			.border-right-radius(10px);
			.border-bottom-radius(10px);
			.border-left-radius(10px);
			background: @brand-primary;
			color: #fff;
			padding: 5px;
		}
	}
}