.widget-mobile-transfer-recipient .prominant-header input{
    width: 90%;
}

.widget-mobile-transfer-recipient .initials-icon::before {
    content: attr(data-initials);
    height: 4rem;
    width: 4rem;
    display: block;
    line-height: 4rem;
    border-radius: 50%;
    font-size: 2rem;
    background: #fff;
    color: #423c35;
    margin-right: 1rem;
    text-transform: uppercase;
    text-align: center;
    float: left;
    border: 1px solid #bab2aa;
}

.prominant-header input{
    border:0;
}

.widget-mobile-transfer-recipient .panel-title{
    background-color: #ece8e4;
    margin: 0;
    padding: 10px 15px;
    font-size: 12px;
    line-height: normal;
}

.widget-mobile-transfer-recipient .accounts-list {
    margin-top: 0px;
}

.widget-mobile-transfer-recipient .accounts-list > li.panel.panel-default {
    margin-bottom: 0;
    border-bottom: 1px solid #ece8e4;
}
.widget-mobile-transfer-recipient .accounts-list .account .account-title {
    font-size: 18px;
}

.widget-mobile-transfer-recipient .contact-block .account-title {
    font-size: 18px;
    margin: 0 0 5px;
}
.widget-mobile-transfer-recipient .account-list-item-balance {
    padding-right: 0;
}
.widget-mobile-transfer-recipient .prominant-header {
    position: fixed;
    width: 100%;
    background-color: #fff;
    z-index: 2;
    top: 0;
    left: 0;
}
.widget-mobile-transfer-recipient .accounts {
    margin-top: 56px;
}


.widget-mobile-transfer-recipient-contact > .row > div {
    padding: 0;
}

.widget-mobile-transfer-recipient-contact-initials {
    display: inline-block;
}

.widget-mobile-transfer-recipient-contact-initials:before {
    content: attr(data-initials);
    height: 35px;
    width: 35px;
    display: block;
    line-height: 35px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    font-size: 20px;
    background: #fff;
    color: #423c35;
    text-transform: uppercase;
    text-align: center;
    border: 1px solid #bab2aa;
}

.widget-mobile-transfer-recipient-contact-img {
    text-align: center;
}

.widget-mobile-transfer-recipient-contact-img img {
    border: 1px solid #bcb4ac;
    height: 35px;
    width: 35px;
    box-sizing: border-box;

}


