$currency-symbol-width: 1em;
$separator-width: 0.5em;
$decimal-width: 2em;

.dbp-ui-amount-input{
    box-sizing: border-box;
    display: inline-block;
    padding: 0 ($separator-width + $decimal-width) 0 $currency-symbol-width;
    overflow: hidden;
    white-space: nowrap;

    input{
        display: inline-block;
        box-sizing: border-box;
        font-size: inherit;
        height: 100%;
        line-height: normal;
        vertical-align: baseline;

        &::-webkit-inner-spin-button,
        &::-webkit-outer-spin-button{
            -webkit-appearance: none;
            margin: 0;
        }
    }

    &__currency-symbol,
    &__separator{
        display: inline-block;
        height: 100%;
        font-size: inherit;
        line-height: normal;
        text-align: center;
    }

    &__currency-symbol{
        margin-left: -$currency-symbol-width;
        width: $currency-symbol-width;
    }

    &__separator{
        width: $separator-width;
    }

    &__integer{
        width: 100%;
    }

    &__decimal{
        width: $decimal-width;
    }

    &.empty-symbol{
        padding-left: 0;
    }

    &.empty-symbol &__currency-symbol{
        display: none;
    }
}
