<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:g="http://www.backbase.com/2008/gadget" xml:lang="en">
    <head>
        <title>Mobile Transfer Review</title>
        <meta http-equiv="Content-Type" content="text/xml; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="HandheldFriendly" content="True" />
        <meta name="MobileOptimized" content="320" />
        <!-- externals -->
        <script src="$(contextRoot)/static/features/[BBHOST]/feature-iban/iban.js"></script>
        <script src="$(contextRoot)/static/features/[BBHOST]/feature-beneficiary-service/service-beneficiary.js"></script>
        <!-- widget -->
        <link rel="stylesheet" href="dist/styles/widget-mobile-add-contact.css" type="text/css" />
        <script src="$(contextRoot)/static/features/[BBHOST]/feature-mobile-plugins/mobile-plugins.js"></script>
        <script src="dist/widget-mobile-add-contact.js"></script>

        <g:preferences>
            <g:preference name="widgetMode" label="Widget Mode" type="select-one" default="contact-add">
                <g:enumeration value="contact-add" label="Add Contact" />
                <g:enumeration value="contact-edit" label="Edit Contact" />
                <g:enumeration value="contact-show" label="Show Contact" />
            </g:preference>
        </g:preferences>
    </head>

    <body g:onload="window['widget-mobile-add-contact'](__WIDGET__).start();"
        ng-controller="MainCtrl as mainCtrl"
        ng-cloak="ng-cloak"
        class="widget-mobile-add-contact">

        <form name="contactForm" novalidate=""  autocomplete="off"
              class="widget-mobile-add-contact-form" ng-class="mainCtrl.widgetMode">
            <!-- avatar -->
            <div class="widget-mobile-add-contact-item text-center well-lg" ng-if="mainCtrl.contact.photoUrl">
                <img class="img img-circle"
                     ng-if="mainCtrl.contact.photo"
                     ng-src="{{mainCtrl.contact.photoUrl}}" height="256" width="256"/>

                <span class="widget-mobile-add-contact-item-initials"
                      ng-if="!mainCtrl.contact.photo"
                      data-initials="{{ mainCtrl.getInitials(mainCtrl.contact.name) }}"></span>
            </div>
            <!-- name -->
            <div class="widget-mobile-add-contact-item form-group">
                <label class="widget-mobile-add-contact-item-label">{{::mainCtrl.Labels.NAME}}</label>
                <label class="widget-mobile-add-contact-item-label-title"
                       ng-bind="mainCtrl.contact.name"></label>
                <input class="widget-mobile-add-contact-item-input"
                       name="name"
                       type="text"
                       placeholder="eg. John Smith"
                       ng-model="mainCtrl.contact.name"
                       required="required"/>

                <div class="widget-mobile-add-contact-item-error"
                     ng-if="mainCtrl.validation.name.error"
                     ng-bind="mainCtrl.validation.name.errorMessage"></div>
            </div>
            <!-- account -->
            <div class="widget-mobile-add-contact-item form-group">
                <label class="widget-mobile-add-contact-item-label">{{::mainCtrl.Labels.ACCOUNT_NUMBER}}</label>
                <label class="widget-mobile-add-contact-item-label-title"
                       ng-bind="mainCtrl.contact.accountNumber | iban"></label>
                <div iban-input=""
                     suggested-banks="{{mainCtrl.suggestedBanks}}"
                     value="mainCtrl.contact.accountNumber"></div>

                <div class="widget-mobile-add-contact-item-error"
                     ng-if="mainCtrl.validation.accountNumber.error"
                     ng-bind="mainCtrl.validation.accountNumber.errorMessage"></div>
            </div>

            <div class="well-lg">
                <div class="btn btn-block btn-lg btn-danger" ng-click="mainCtrl.fireDeleteEvent()">
                    <i class="icon icon-trash"></i> {{::mainCtrl.Labels.BUTTON_DELETE}}</div>
            </div>

            <div ng-if="mainCtrl.manageContactError">
                {{mainCtrl.manageContactError.message}}
            </div>

            <!--<button ng-click="mainCtrl.save()">Save</button>-->
        </form>
    </body>
</html>
