/**
 * widget-mobile-transfer-initiation styles.
 */

.widget-mobile-transfer-initiation {
    min-height: 100px;
    height: 100%;
    .form-group{
        padding:10px 15px;
    }
}

.widget-mobile-transfer-initiation-recipient {
    .bill-payment {
        font-size: 15px;
        background: #fff;
        border-bottom: 1px solid #ece8e4;
        border-top: 1px solid #ece8e4;
        input {
            padding: 12px 0;
            text-align: center;
        }
    }
    .reference-label {
        padding: 10px 15px;
        background: #fff;
    }
    &.empty {
        .review-info, .bill-payment{
            background: #f7f6f5;
            padding: 10px 15px;
        }
    }
    .form-group{
        padding:10px 15px;
    }

    .recipient-beneficiary-container {
        position: relative;

    }
    .address-book {
        position: absolute;
        top: 11px;
        right: 16px;
    }
}

.widget-mobile-transfer-initiation-from {
    border-bottom: 1px solid #ECE8E4;

    &.selected {
        .select-account {
            .panel-body {
                padding: 0;
            }
            .account-details {
                padding: 10px 15px;
                .detail-icon {
                    top: 20px;
                    right: 20px;
                    font-size: 20px;
                    color: #ECE8E4;
                }
            }
            .account-title {
                font-size: 18px;
            }
            .account-balance-label {
                display: none;
            }
            .account-balance {
                font-size: 30px;
                .text-muted {
                    font-size: 30px;
                    color: #C5BDB4;
                    &.currency {
                        color: #423c35;
                    }
                }
            }
        }
    }
}

.widget-mobile-transfer-initiation-eur {
    float: left;
    font-size: 18px;
    color: #bab2aa;
    position: relative;
    top: 3px;
}
.widget-mobile-transfer-initiation-amount {
    width: calc(100% - 32px) !important;
    margin-left: 8px;
}

.widget-mobile-transfer-initiation {

    .dbp-ui-amount-input-wrapper {
        // padding: 12px 14px;
        border-bottom: 1px solid #ECE8E4;
        background:#f7f6f5;
        position: relative;
        &.empty {
            background: #f7f6f5;
        }
    }
    .dbp-ui-amount-input {
        padding: 0 3em 0 1em;
        width: 100%;
        input {
            background: transparent;
            border: none;
            font-size: 15px;
            text-align: right;
            height: 40px;
        }
    }
    .dbp-ui-amount-input__currency-symbol {
        font-size: 18px;
        color: #bab2aa;
        text-indent: -9999px;
        &:before {
            font-family: 'FontAwesome';
            content: "\f153";
            text-indent: 0px;
            float: left;
            position: relative;
            top: 3px;
            left: 5px;
        }
    }
    .dbp-ui-amount-input__integer {
        padding-right: 20px;
    }
    .dbp-ui-amount-input__decimal {
        text-align: right;
        width: 2.5em;
        padding-right: 5px;
    }
    .dbp-ui-amount-input__separator {
        width: 0.5em;
        &:before {
            content: '';
            height: 55px;
            border-left: 1px solid #ECE8E4;
            position: absolute;
            top: 0;
            right: 4em;
        }
    }
}

.widget-mobile-transfer-initiation-add-contact {
    background: #fff !important;
}

.widget-mobile-transfer-initiation-schedule {
    border-bottom: 1px solid #ECE8E4;
    background: #fff;
    &.empty {
        background: #f7f6f5;
    }
    i {
        position: absolute;
        right: 30px;
        top: 23px;
        color: #7B6F62;
    }
    .form-group {
        position: relative;
        margin-bottom: 0;
    }
    div {
        line-height: 40px;
    }
}