<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:g="http://www.backbase.com/2008/gadget" xml:lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no" />
    <link rel="stylesheet" href="styles/main.css" />
    <script src="$(contextRoot)/static/features/[BBHOST]/feature-mobile-plugins/mobile-plugins.js"></script>
    <script src="$(contextRoot)/static/features/[BBHOST]/feature-search-box/search-box.js"></script>
    <script src="$(contextRoot)/static/features/[BBHOST]/feature-iban/iban.js"></script>
    <script src="$(contextRoot)/static/features/[BBHOST]/feature-avatar/avatar.js"></script>
    <script src="$(contextRoot)/static/features/[BBHOST]/feature-format-amount/format-amount.js"></script>
    <script src="$(contextRoot)/static/features/[BBHOST]/feature-focus-element/focus-element.js"></script>
    <script src="$(contextRoot)/static/features/[BBHOST]/feature-service-accounts/service-accounts.js"></script>
    <script src="scripts/main.js"></script>
</head>

<body g:onload="shc.mobile.widget.transactions.init(__WIDGET__);" class="shc-widget-transactions-mobile">

    <div class="container" ng-controller="MainCtrl as ctrl" ng-cloak="">
        <div class="row transactions-list">

            <!-- account details panel -->
            <div class="panel panel-default account" ng-hide="ctrl.searchHasFocus">
                <div class="panel-body shc-widget-transactions-mobile-account">
                    <div class="shc-widget-transactions-mobile-account-amount" format-amount="{{ctrl.account.availableBalance}}" format-amount-currency="{{ctrl.account.currency}}"></div>
                    <h4 class="shc-widget-transactions-mobile-account-title" ng-bind="ctrl.account.alias || '&nbsp;'"></h4>
                    <div class="shc-widget-transactions-mobile-account-iban">{{ctrl.account.accountIdentification[0].id || '&nbsp;'}}</div>
                </div>
            </div>

            <!-- search -->
            <!-- <div class="search-element shc-widget-transactions-mobile-search"
                 has-focus="ctrl.searchHasFocus"
                 search-box="ctrl.searchText"
                 placeholder="{{::ctrl.Labels.SEARCH_PLACEHOLDER}}"
                 ng-class="{'focused': ctrl.searchHasFocus}"></div> -->

            <div class="col-xs-6" style="margin-top: 15px">
                <div class="form-group">
                    <label>From:</label>
                    <input type="date" class="form-control" ng-model="ctrl.fromDate" ng-focus="ctrl.fromHasFocus = true" ng-blur="ctrl.fromHasFocus = false" style="-webkit-appearance: none; padding: 0 10px;">
                </div>
            </div>
            <div class="col-xs-6" style="margin-top: 15px">
                <div class="form-group">
                    <label>Until:</label>
                    <input type="date" class="form-control" ng-model="ctrl.untilDate" ng-focus="ctrl.untilHasFocus = true" ng-blur="ctrl.untilHasFocus = false" style="-webkit-appearance: none; padding: 0 10px;">
                </div>
            </div>

            <!-- transactions -->
            <div class="transactions-container" ng-hide="ctrl.initLoading">
                <div ng-repeat="group in results=(ctrl.groupedTransactions | filter:ctrl.searchText) track by group.title" class="panel panel-default clearfix">
                    <div class="col-xs-12 panel-heading">
                        <h4 class="panel-title" ng-bind="group.title"></h4>
                    </div>
                    <div class="col-xs-12">
                        <div class="row">
                            <ul class="list-group accounts-list transaction-list">
                                <li ng-repeat="transaction in group.transactions | filter:ctrl.searchText track by transaction.id" class="list-group-item panel panel-default">
                                    <div class="panel-body shc-widget-transactions-mobile-item" ng-click="ctrl.showTransactionDetails(transaction)">
                                        <div class="row clearfix">
                                            <div class="col-xs-2">
                                                <avatar photo-url="{{transaction.counterPartyLogoPath}}" name="{{transaction.counterpartyName}}"></avatar>
                                            </div>
                                            <div class="col-xs-5">
                                                <h4 class="account-list-item-title" ng-bind="transaction.counterpartyName"></h4>
                                                <small class="text-muted account-list-item-iban" ng-bind="transaction.transactionType"></small>
                                            </div>
                                            <div class="col-xs-5">
                                                <div class="account-list-item-balance text-right" format-amount="{{transaction.transactionAmount}}" format-amount-currency="{{transaction.transactionCurrency}}" format-amount-credit-debit="{{transaction.creditDebitIndicator}}"></div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <!-- load more button -->
                <div class="shc-widget-transactions-mobile-load-more" ng-class="{'focused': ctrl.searchHasFocus}" ng-show="ctrl.hasMore" ng-click="ctrl.loadMore()">
                    <div>{{::ctrl.Labels.SHOWING_TRANSACTIONS_UNTIL}} {{ctrl.lastDate}}</div>
                    <div class="small">{{::ctrl.Labels.LOAD_MORE_TRANSACTIONS}}</div>
                    <i ng-show="ctrl.isLoading" class="icon icon-spinner icon-spin"></i>
                </div>

                <!-- error handling -->
                <div ng-if="!ctrl.hasTransactions">
                    <!-- error occurred: show in-widget error -->
                    <div ng-show="ctrl.transactionsError" class="content-error">
                        <i class="icon icon-warning"></i>
                        <!-- todo: directive for error? -->
                        <p>{{ctrl.transactionsError.message}}</p>
                        <button type="button" class="btn btn-default" ng-click="ctrl.load()">{{::ctrl.Labels.TRY_AGAIN}}</button>
                    </div>

                    <!-- no error, no transactions: show in-widget message (if no error) -->
                    <div ng-hide="ctrl.transactionsError" class="content-error">
                        {{::ctrl.Labels.NO_TRANSACTIONS}}
                    </div>
                </div>
            </div>

            <!-- initial loading -->
            <div ng-show="ctrl.initLoading" class="content-loading">
                <i class="icon icon-spinner icon-spin"></i>
            </div>

            <!-- no search results -->
            <div class="shc-widget-transactions-mobile-load-more" ng-class="{'focused': ctrl.searchHasFocus}" ng-show="ctrl.searchText.length &amp;&amp; !results.length">{{::ctrl.Labels.NO_TRANSACTIONS_SEARCH}}</div>
        </div>
    </div>

</body>

</html>
