<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:g="http://www.backbase.com/2008/gadget" xml:lang="en">
<head>
    <title>Mobile Transfer Accounts</title>
    <meta http-equiv="Content-Type" content="text/xml; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />

    <script src="$(contextRoot)/static/features/[BBHOST]/feature-iban/iban.js"></script>
    <script src="$(contextRoot)/static/features/[BBHOST]/feature-format-amount/format-amount.js"></script>
    <script src="$(contextRoot)/static/features/[BBHOST]/feature-mobile-plugins/mobile-plugins.js"></script>
    <script src="scripts/main.js"></script>
</head>
<body g:onload="shc.mobile.widget.transferAccounts.init(__WIDGET__);"
      class="widget-mobile-transfer-accounts"
      ng-cloak="ng-cloak">
    <div class="container" ng-controller="MainCtrl as mainCtrl">
        <div class="row accounts">
            <ul class="accounts-list">
                <h4 class="panel-title">{{::mainCtrl.Labels.ACCOUNTS}}</h4>
                <li ng-repeat="account in mainCtrl.accounts"
                    class="panel panel-default account"
                    ng-if="account.accountIdentification[0].id !== mainCtrl.fromAccountIdentifier">
                    <div class="panel-body" ng-click="mainCtrl.publishAccount(account)">
                        <div class="clearfix">
                            <div class="account-list-item-left">
                                <h4 class="account-list-item-title" ng-bind="account.alias"></h4>
                                <small class="text-muted account-list-item-iban">{{account.accountIdentification[0].id | iban}}</small>
                            </div>
                            <div class="account-list-item-right">
                                <div class="account-list-item-balance text-right"
                                     format-amount="{{account.availableBalance}}"
                                     format-amount-currency="{{account.currency}}"></div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>
