.accounts-list {
    margin-top: 15px;
    padding: 0;
    list-style: none;
}
.account .account-title {
    margin: 0;
}
.account .account-balance {
    font-size: 32px;
}
.account .account-buttons {
    padding-top: 5px;
    padding-bottom: 5px;
}

.accounts-top-banner {
    padding: 5%;
    margin: -15px -15px 15px;
    background-image: url("accounts-banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}