<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:g="http://www.backbase.com/2008/gadget" xml:lang="en">
<head>
    <title>Mobile Transfer Recipient</title>
    <meta http-equiv="Content-Type" content="text/xml; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <link rel="stylesheet" href="styles/main.css" />
    <!-- external -->
    <script src="$(contextRoot)/static/features/[BBHOST]/feature-iban/iban.js"></script>
    <script src="$(contextRoot)/static/features/[BBHOST]/feature-avatar/avatar.js"></script>
    <script src="$(contextRoot)/static/features/[BBHOST]/feature-format-amount/format-amount.js"></script>
    <script src="$(contextRoot)/static/features/[BBHOST]/feature-search-box/search-box.js"></script>
    <script src="$(contextRoot)/static/features/[BBHOST]/feature-mobile-plugins/mobile-plugins.js"></script>


    <script src="scripts/main.js"></script>
</head>
<body g:onload="shc.mobile.widget.transferRecipient.init(__WIDGET__);"
      ng-cloak="ng-cloak" class="widget-mobile-transfer-recipient">
    <div class="container" ng-controller="MainCtrl as mainCtrl">
        <header class="prominant-header">
            <div class="search-element shc-widget-transactions-mobile-search"
                 has-focus="mainCtrl.searchHasFocus"
                 search-box="mainCtrl.search.text"
                 placeholder="{{::mainCtrl.Labels.SEARCH_PLACEHOLDER}}"
                 ng-class="{'focused': mainCtrl.searchHasFocus}"></div>
        </header>

        <div class="row accounts">
            <ul class="accounts-list">
                <h4 class="panel-title">{{::mainCtrl.Labels.ACCOUNTS}}</h4>
                <li ng-repeat="account in mainCtrl.accounts"
                    class="panel panel-default account"
                    ng-if="account.accountIdentification[0].id !== mainCtrl.fromAccountIdentifier">
                    <div class="panel-body" ng-click="mainCtrl.publishAccount(account)">
                        <div class="clearfix">
                            <div class="account-list-item-left">
                                <h4 class="account-list-item-title" ng-bind="account.alias"></h4>
                                <small class="text-muted account-list-item-iban">{{account.accountIdentification[0].id | iban}}</small>
                            </div>
                            <div class="account-list-item-right">
                                <div class="account-list-item-balance text-right"
                                     format-amount="{{account.availableBalance}}"
                                     format-amount-currency="{{account.currency}}"></div>
                            </div>
                        </div>
                    </div>
                </li>
                <li ng-repeat="(k,v) in mainCtrl.groupedBeneficiaries">
                    <ul class="accounts-list">
                        <li ng-repeat="item in v | filter:mainCtrl.search.text" class="panel panel-default account">
                            <!-- <div class="panel-heading transactions-group-title" ng-show="$first">
                                <h4 class="panel-title" ng-bind="k"></h4>
                            </div> -->
                            <div class="contact-block">
                                <h4 class="panel-title" ng-show="$first" ng-bind="k"></h4>
                                <div class="panel-body widget-mobile-transfer-recipient-contact" 
                                     ng-click="mainCtrl.publishBeneficiary(item)">

                                    <div class="row clearfix">
                                        <div class="col-xs-2">
                                            <avatar photo-url="{{ item.photoUrl }}" name="{{ item.name }}"></avatar>
                                        </div>
                                        <div class="col-xs-10">
                                            <h4 class="account-list-item-title" ng-bind="item.name"></h4>
                                            <small class="text-muted account-list-item-iban">{{item.account | iban}}</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>
