/**
 * widget-mobile-add-contact styles.
 */

.widget-mobile-add-contact {
    .bb-iban-input {
        input {
            height: 40px;
            line-height: 40px;
            border: none;
            background: transparent;
            width: 100%;
        }
    }
}

.widget-mobile-add-contact-form {
    background: #fff;
    &.contact-show {
        .widget-mobile-add-contact-item-input {
            display: none;
        }

        .widget-mobile-add-contact-item-label-title {
            display: block;
            margin-bottom: 0;
        }
    }

    &.contact-add {
        .btn-danger {
            display: none;
        }
    }
}
.widget-mobile-add-contact-form .form-group{
    margin-bottom: 1px;
}

.widget-mobile-add-contact-form .form-group input[type="text"]{
    height: 40px;
    line-height: 40px;
}

.widget-mobile-add-contact-item {
    padding: 10px 16px;
    border-bottom: 1px solid #ece8e4;
    margin: 0;
    box-sizing: border-box;

    &.img-wrapper {
        height: 276px;
    }

    .img-circle {
        background: #fff;
        color: #423c35;
        border: 1px solid #bab2aa;
    }
}

.widget-mobile-add-contact-item-label,
.widget-mobile-add-contact-item-label-title {
    display: block;
    font-size: 15px;
    font-weight: normal;
}

.widget-mobile-add-contact-item-label-title {
    display: none;
}

.widget-mobile-add-contact-item-input {
    width: 100%;
    border: none;
    outline: none;
    padding: 0;
    border-radius: 0;
}

.widget-mobile-add-contact-item-error {
    color: #e6654b;
    font-size: 12px;
    margin-top: 5px;
}

.widget-mobile-add-contact-item-initials {
    display: inline-block;
    &:before {
        content: attr(data-initials);
        height: 256px;
        width: 256px;
        display: block;
        line-height: 256px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        font-size: 100px;
        background: #fff;
        color: #423c35;
        text-transform: uppercase;
        text-align: center;
        border: 1px solid #bab2aa;
    }
}
