{{#contentRef}}
<div class="widget-faq">
{{#categories}}
    <h2 class="widget-faq-category">{{name}}</h2>
    {{#faqs}}
    <div class="panel faq-panel">
        <div class="question row widget-faq-question">
            <div class="col-xs-2">
                <span class="question-q">Q</span>
            </div>
            <div class="col-xs-10">
                <div class="question-text">{{question}}</div>
            </div>
        </div>
        <div class="answer-container">
            <div class="answer row widget-faq-answer">
                <div class="col-xs-2">
                    <span class="answer-a">A</span>
                </div>
                <div class="col-xs-10">
                    <div class="answer-text">{{& answer}}</div>
                </div>
            </div>
            {{#externalLink}}
            <div class="answer-link row">
                <div class="col-xs-12">
                    <a target="_blank" href="{{externalLink}}">
                        {{externalLinkText}}
                    </a>
                </div>
            </div>
            {{/externalLink}}
        </div>
    </div>
    {{/faqs}}
{{/categories}}
</div>
{{/contentRef}}
