<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:g="http://www.backbase.com/2008/gadget" xml:lang="en">

<head>
    <title>Mobile Transfer Review</title>
    <meta http-equiv="Content-Type" content="text/xml; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <!-- externals -->
    <script src="$(contextRoot)/static/features/[BBHOST]/angular/angular.js"></script>
    <script src="$(contextRoot)/static/features/[BBHOST]/feature-iban/iban.js"></script>
    <script src="$(contextRoot)/static/features/[BBHOST]/feature-service-transfers/service-transfers.js"></script>
    <script src="$(contextRoot)/static/features/[BBHOST]/feature-service-accounts/service-accounts.js"></script>
    <script src="$(contextRoot)/static/features/[BBHOST]/feature-beneficiary-service/service-beneficiary.js"></script>
    <script src="$(contextRoot)/static/features/[BBHOST]/feature-account-panel/account-panel.js"></script>
    <script src="$(contextRoot)/static/features/[BBHOST]/feature-format-amount/format-amount.js"></script>
    <script src="$(contextRoot)/static/features/[BBHOST]/feature-mobile-plugins/mobile-plugins.js"></script>
    <!-- widget -->
    <link rel="stylesheet" href="dist/styles/widget-mobile-transfer-review.css" type="text/css" />
    <script src="dist/widget-mobile-transfer-review.js"></script>
</head>

<body g:onload="window['widget-mobile-transfer-review'](__WIDGET__).start();"
    ng-controller="MainCtrl as mainCtrl"
    ng-cloak="ng-cloak"
    class="widget-mobile-transfer-review transfer-data">

    <!-- TRANSACTION REVIEW FORM-->
    <div ng-hide="mainCtrl.isLoading">
        <!-- FROM -->
        <div class="widget-mobile-transfer-review-from">
            <bb-mobile-account-panel account="mainCtrl.account.details" class="select-account no-action"></bb-mobile-account-panel>
        </div>

        <!-- TO -->
        <div class="panel-body">
            <small class="text-label">{{::mainCtrl.Labels.TRANSFER_BENEFICIARY}}</small>
            <h4 class="account-title widget-mobile-transfer-review-beneficiary-title" ng-bind="mainCtrl.transfer.details.counterpartyName"></h4>
            <small class="text-label">{{mainCtrl.transfer.details.counterpartyIban | iban}}</small>

            <div class="text-label m-t-15">{{::mainCtrl.Labels.TRANSFER_AMOUNT}}</div>
            <div class="widget-mobile-transfer-review-beneficiary-account-balance" format-amount="{{mainCtrl.transfer.details.instructedAmount}}" format-amount-currency="{{mainCtrl.transfer.details.instructedCurrency}}">
            </div>

            <div ng-if="mainCtrl.transfer.details.description">
                <div class="text-label m-t-15">{{::mainCtrl.Labels.TRANSFER_DESCRIPTION}}</div>
                <div class="widget-mobile-transfer-review-beneficiary-review">{{mainCtrl.transfer.details.description}}</div>
            </div>

            <div ng-if="mainCtrl.transfer.details.remittanceInformation">
                <div class="text-label m-t-15">{{::mainCtrl.Labels.TRANSFER_REFERENCE}}</div>
                <div class="widget-mobile-transfer-review-beneficiary-review">{{mainCtrl.transfer.details.remittanceInformation}}</div>
            </div>

            <div ng-if="mainCtrl.transferData.schedule">
                <div class="text-label m-t-15">{{::mainCtrl.Labels.TRANSFER_SCHEDULE}}</div>
                <div class="widget-mobile-transfer-review-beneficiary-review">
                {{mainCtrl.transferData.schedule.dateText + ' - ' + mainCtrl.transferData.schedule.frequencyText}}
                </div>
            </div>
        </div>
        <div class="panel-body" ng-if="mainCtrl.showAuth" style="border-top: 1px solid #ece8e4;">
            <h4>{{::mainCtrl.Labels.VERIFY}}</h4>
            <p>{{::mainCtrl.Labels.VERIFY_TEXT}}</p>
            <form>
                <div class="form-group">
                    <input type="text" class="form-control" ng-model="mainCtrl.authCode" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" placeholder="{{::mainCtrl.Labels.TAN_TEXT}}">
                </div>
            </form>
        </div>
        <div class="row review">
            <div class="col-xs-5">
                <button type="button" class="btn btn-default btn-lg btn-block" ng-click="mainCtrl.cancelTransfer();">{{::mainCtrl.Labels.BUTTON_CANCEL}}</button>
            </div>
            <div class="col-xs-7">
                <button type="submit" class="btn btn-primary btn-lg btn-block" ng-click="mainCtrl.submitTransfer();">{{::mainCtrl.Labels.BUTTON_SUBMIT}}</button>
            </div>
        </div>
    </div>
    <!-- // TRANSACTION REVIEW FORM-->

    <div ng-show="mainCtrl.isLoading">
        <i class="icon icon-spinner icon-spin"></i>
    </div>
</body>

</html>
