
.transactions-list {
    margin-bottom: 0;
    animation: margin .5s;
 }

.transactions-list.search-mode {
    margin-top: 64px;
    margin-bottom: 0;
}

.transactions-list .transactions-group {
    margin-bottom: 0;
}

.transaction-list > li.panel.panel-default {
    margin-bottom: 0;
}

.transactions-list .search-field input {
    width:78%;
    padding: 10px 10px 8px 10px;
    background: transparent;
    border: 0;
}

.transactions-list .search-field .clear-icon {
    color: #bdbdbd;
}

.transactions-list .search-field i {
    padding: 13px 0 0 4px;
    float: left;
}
.transactions-list .list-group .list-group-item {
    border: none;
    border-bottom: 1px solid #ece8e4;
    margin-bottom: 1px;
}
.transactions-list .list-group .list-group-item:last-child {
    border: none;
    margin-bottom: 0;
}

.transactions-list .panel.account .panel-heading, .transactions-list .panel.search .panel-heading {
    position: relative;
    top: 0;
}

.transactions-list .panel .panel-heading {
    z-index: 1;
}

.transactions-list.search-mode .panel .panel-heading {
    top: 64px;
}

.transactions-list.search-mode .panel.search .panel-heading {
    top: 0;
}

.transactions-list .transaction .detail-icon {
    position: absolute;
    right: -12px;
    top: 40%;
}

.transactions-list .transaction .col-amount {
    white-space: nowrap;
    padding-left: 0;
}

.transactions-list .transaction .transaction-amount {
    margin-top: 8px;
    margin-right: -6px;
}

.transactions-list .transaction .list-group-item-heading {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/** NEW **/
.shc-widget-transactions-mobile-account {
    background: #990000;
    color: #fff;
}

.shc-widget-transactions-mobile-account-amount {
    font-size: 30px;
    text-align: center;
    margin-top: 10px;
}
.shc-widget-transactions-mobile-account-amount .text-muted {
    color: #fff;
    font-size: 30px;
    margin-right: 5px;
}

.shc-widget-transactions-mobile-account-title {
    font-size: 18px;
    text-align: center;
    margin: 0;
    margin-top: 10px;
}

.shc-widget-transactions-mobile-account-iban {
    font-size: 12px;
    color: #fff;
    margin-top: 10px;
    font-weight: 300;
    margin-bottom: 10px;
    text-align: center;
}

.shc-widget-transactions-mobile-item .account-list-item-detail-icon {
    right: 12px;
}
.shc-widget-transactions-mobile-item .account-list-item-balance {
    padding-top: 2px;
    padding-right: 15px;
}

.shc-widget-transactions-mobile-item-img {
    text-align: center;
}

.shc-widget-transactions-mobile-item-img img {
    border: 1px solid #bcb4ac;
    height: 35px;
    width: 35px;
    box-sizing: border-box;

}

.shc-widget-transactions-mobile-item-initials {
    display: inline-block;
}

.shc-widget-transactions-mobile-item-initials:before {
    content: attr(data-initials);
    height: 35px;
    width: 35px;
    display: block;
    line-height: 35px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    font-size: 20px;
    background: #fff;
    color: #423c35;
    text-transform: uppercase;
    text-align: center;
    border: 1px solid #bab2aa;
}

.shc-widget-transactions-mobile-item > .row > div {
    padding: 0;
}

.shc-widget-transactions-mobile-load-more {
    background: #9EAA1C;
    color: #fff;
    padding: 10px 15px;
    font-size: 15px;
    position: relative;
}

.shc-widget-transactions-mobile-load-more .icon-spinner {
    font-size: 20px;
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -10px;
    display: inline-block;
}

.shc-widget-transactions-mobile-load-more .small {
    font-size: 12px;
    margin-top: 10px;
}

.shc-widget-transactions-mobile-search  {
    z-index: 2;
    background: #fff;
}
