<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:g="http://www.backbase.com/2008/gadget" xml:lang="en">
<head>
    <meta charset="utf-8" />

    <link rel="stylesheet" href="styles/main.css" />
    <script src="$(contextRoot)/static/features/[BBHOST]/feature-mobile-plugins/mobile-plugins.js"></script>
    <script src="scripts/main.js"></script>
</head>
<body g:onload="shc.mobile.widget.login.init(__WIDGET__);" class="mobile-login">
    <div class="container" ng-controller="MainCtrl as ctrl" ng-cloak="ng-cloak">

        <div class="be-ex-image-only" style="margin:10% 0; width: 100%;">
            <img ng-src="{{ctrl.logoSrc}}" alt="" title="logo.svg" />
        </div>

        <div style="color: white; margin: 10%;">
            <div class="text-panel">
                <h2 ng-bind="::ctrl.Label.LOGIN_PROMO_HEADER"></h2>
                <h3 ng-bind="::ctrl.Label.LOGIN_PROMO_ACTION"></h3>
            </div>
        </div>

        <div ng-if="!ctrl.isLoading">
            <div class="login-form user-password" ng-if="!ctrl.pinEnabled">
                <form name="loginForm" ng-controller="LoginFormController as loginCtrl" ng-submit="loginCtrl.submit()">
                    <div class="form-group username">
                        <input type="text" class="form-control" placeholder="{{ctrl.Label.USERNAME}}" required="required" ng-model="loginCtrl.credentials.username"
                            autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" autofocus="autofocus" />
                    </div>
                    <div class="form-group password">
                        <input type="password" class="form-control" placeholder="{{ctrl.Label.PASSWORD}}" required="required" ng-model="loginCtrl.credentials.password" />
                    </div>
                    <button type="submit" class="btn btn-info btn-block btn-lg" ng-disabled="!loginCtrl.credentials.username.length || !loginCtrl.credentials.password.length" ng-bind="::ctrl.Label.LOGIN"></button>
                </form>
            </div>

            <div class="login-form digits" ng-if="ctrl.pinEnabled">
                <form name="loginDigits" ng-controller="LoginDigitsController as digitsCtrl" ng-submit="digitsCtrl.submit()" class="form-inline login-digits">
                    <div class="form-group login-digit" ng-repeat="digit in digitsCtrl.digits">
                        <input data-index="{{$index}}" type="password" class="form-control input-lg" required="required" ng-model="digit.value"
                            autofocus="autofocus"
                            ng-focus="digitsCtrl.setFocusedElement($event)" ng-blur="digitsCtrl.unsetFocusedElement($event)"
                            ng-change="digitsCtrl.focusChange(digit)" ng-model-options="{ debounce: 100 }" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
