<div ng-click="$ctrl.onClick($event)" class="panel-body">
    <!-- account select, show details -->
    <!-- todo: create a account-card component -->
    <bb-mobile-account-panel account="$ctrl.selected" ng-if="$ctrl.isSelected">
    </bb-mobile-account-panel>

    <!-- not selected, just show simple button -->
    <div class="account-select-button" ng-if="!$ctrl.isSelected">
        <i class="icon icon-angle-right detail-icon"></i>
        <span class="text-muted" ng-bind="::$ctrl.labels.SELECT_ACCOUNT"></span>
    </div>
</div>

