
.transaction-list {
    margin-bottom: 0;
}
.panel-heading.transaction-title {
    background-color: #bab2aa;
    position: -webkit-sticky;
    position: sticky;
    z-index: 1;
    top: 0;
    padding:1px 10px;
}
.transaction-title h3 {
    margin: 3px 0;
    font-size: 14px;
}
.transaction-list .transactions-group {
    margin-bottom: 0;
}
.transaction-amount {
    font-size: 22px;
}

.mobile-transaction-wrapper {
    border-top: 1px solid #ddd;
}


.mobile-transaction-item-heading {
    font-size: 12px;
    font-weight: 300;
}
.mobile-transaction-item-text {
    font-size: 15px;
    color: #423c35;
    font-weight: 300;
}
.mobile-transaction-item {
    border-top: none;
    border-bottom: 1px solid #F0EDE9;
}

.mobile-transaction-item.list-group-item {
    margin-bottom: 0;
}

/** NEW **/
.widget-mobile-transaction-detail > div{
    padding: 0
}

.widget-mobile-transaction-detail-img {
    text-align: center;
}


.widget-mobile-transaction-detail-initials {
    display: inline-block;
}

.widget-mobile-transaction-detail-initials:before {
    content: attr(data-initials);
    height: 35px;
    width: 35px;
    display: block;
    line-height: 35px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    font-size: 20px;
    background: #fff;
    color: #423c35;
    text-transform: uppercase;
    text-align: center;
    border: 1px solid #bab2aa;
}

.widget-mobile-transaction-detail-img img {
    border: 1px solid #bcb4ac;
    height: 35px;
    width: 35px;
    box-sizing: border-box;

}

.widget-mobile-transaction-detail .mobile-transaction-balance {
    padding-right: 15px;
}