.form-label {
    display: block;
    width: 25%;
    &.checkbox {
        margin: 0px;
        position: relative;
        padding-left: 28px;
        cursor: pointer;
        width: 100%;
        float: none;
        line-height: normal;
        font-weight: normal;
        font-size: 14px;
    }
    > * { 
        pointer-events: none; 
    }
}

.form-checkbox {
    cursor: pointer;
    position: absolute;
    left: 0;
    input {
        position: absolute;
        left: -1000px;
    }
    .icon {
        position: absolute;
        margin-left: 0px;
        margin-top: -3px;
        color: @brand-primary;
        font-size: 22px;
        &:hover {
            color: darken(@brand-primary, 10%);
        }
    }
}
