<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:g="http://www.backbase.com/2008/gadget" xml:lang="en">

<head>
    <title>dbp-ui-amount-input</title>
    <meta http-equiv="Content-Type" content="text/xml; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <!-- dependencies -->
    <script src="$(contextRoot)/static/features/[BBHOST]/angular/angular.min.js"></script>
    <script src="$(contextRoot)/static/features/[BBHOST]/dbp-base/dist/dbp-base.js"></script>
    <script src="$(contextRoot)/static/features/[BBHOST]/dbp-ui-base/dist/dbp-ui-base.js"></script>
    <!-- main component -->
    <link rel="stylesheet" href="dist/styles/dbp-ui-amount-input.css">
    <script src="dist/dbp-ui-amount-input.js" charset="utf-8"></script>
    <style>
    body > div {
        border: solid 1px #000;
        margin: 5px;
    }
    </style>
    <script>
    function DemoCtrl() {
        this.currencies = [
            { sym :'$', code: 'USD'},
            { sym :'€', code: 'EUR'},
            { sym :'£', code: 'GBP'}
        ];
        this.amount1 = 123.3;
        this.selectedCurrency = this.currencies[0];
        this.amount2 = null;
        this.isEmpty = true;
        this.amount3 = null;
        this.isEmpty3 = true;
        this.maxIntegerLength = 5;
    }

    angular.element(document).ready(function() {
        angular.bootstrap(document.getElementById('dbp-ui-amount-input-usage'), [
            angular.module('demo-usage', ['dbp-ui-amount-input']).controller('DemoCtrl', DemoCtrl).name
        ]);
    });
    </script>
</head>

<body>
    <section id="dbp-ui-amount-input-usage" ng-controller="DemoCtrl as $ctrl">
        <div class="list">
            <label class="item">
                <select ng-model="$ctrl.selectedCurrency" name="mySelect" id="mySelect"
                    ng-options="option.code for option in $ctrl.currencies track by option.code">
                </select>
            </label>
            <label class="item">
                Amount 1:
                <input ng-model="$ctrl.amount1" />
                <br/>
                <dbp-ui-amount-input amount="$ctrl.amount1" currency="$ctrl.selectedCurrency.code"></dbp-ui-amount-input>
            </label>
            <label class="item">
                <span class="padding-right">Amount 2:</span>
                <dbp-ui-amount-input amount="$ctrl.amount2" currency="$ctrl.selectedCurrency.code" empty="$ctrl.isEmpty"></dbp-ui-amount-input>
                <span class="padding-left" ng-bind="$ctrl.isEmpty"></span>
            </label>
            <label class="item">
                    <span class="padding-right">Amount 3:</span>
                    <dbp-ui-amount-input amount="$ctrl.amount3" currency="$ctrl.selectedCurrency.code" empty="$ctrl.isEmpty3" max-integer-length="$ctrl.maxIntegerLength"></dbp-ui-amount-input>
                    <span class="padding-left" ng-bind="$ctrl.isEmpty"></span>

            </label>
            <label class="item item-input">
                <span class="input-label">Max Integer Length</span>
                <input placeholder="Max integer length" ng-model="$ctrl.maxIntegerLength" type="number">
            </label>
        </div>
    </section>
</body>

</html>
