.widget-mobile-transfer-schedule {
    background: #fff;
}
.widget-mobile-transfer-schedule-item {
    padding: 10px 16px;
    border-bottom: 1px solid #ece8e4;
}
.widget-mobile-transfer-schedule-item-label {
    display: block;
    font-size: 15px;
    font-weight: normal;
}

.widget-mobile-transfer-schedule-item-text,
a.widget-mobile-transfer-schedule-item-text,
a.widget-mobile-transfer-schedule-item-text:hover,
a.widget-mobile-transfer-schedule-item-text:focus {
    color: #9EAA1C;
    line-height: 25px;
    font-size: 18px;
}

.widget-mobile-transfer-schedule-button {
    padding: 14px;
    button {
        padding: 16px;
    }
}
