<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:g="http://www.backbase.com/2008/gadget" xml:lang="en">
<head>
    <meta charset="utf-8" />

    <link rel="stylesheet" href="styles/main.css" />
    <script src="$(contextRoot)/static/features/[BBHOST]/feature-iban/iban.js"></script>
    <script src="$(contextRoot)/static/features/[BBHOST]/feature-format-amount/format-amount.js"></script>
    <script src="$(contextRoot)/static/features/[BBHOST]/feature-mobile-plugins/mobile-plugins.js"></script>
    <script src="scripts/main.js"></script>
</head>

<body g:onload="shc.mobile.widget.accounts.init(__WIDGET__);">

    <div class="container" ng-controller="MainCtrl as ctrl" ng-cloak="ng-cloak">

        <div class="accounts-list-container" ng-hide="ctrl.initLoading">
            <ul class="accounts-list" ng-if="ctrl.hasAccounts">
                <li ng-repeat="account in ctrl.accounts" class="panel panel-default account">
                    <div class="panel-body" ng-click="ctrl.showTransactions(account)">
                        <div>
                            <h3 class="account-title" ng-bind="account.alias" style="margin: 10px 0 5px;"></h3>
                            <small class="text-muted" ng-bind="account.accountIdentification[0].id | iban"></small>
                        </div>
                        <div class="account-balance text-right">
                            <span format-amount="{{account.availableBalance}}"
                                  format-amount-currency="{{account.currency}}">
                            </span>
                        </div>
                    </div>
                    <div class="panel-footer account-buttons">
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="btn btn-block btn-link" ng-click="ctrl.showTransactions(account)"><i class="icon icon-list"></i> {{::ctrl.Labels.SEE_TRANSACTION}}</div>
                            </div>
                            <div class="col-xs-6">
                                <div class="btn btn-block btn-link" ng-click="ctrl.makePayment(account)"><i class="icon icon-mail-forward"></i> {{::ctrl.Labels.MAKE_PAYMENT}}</div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>

            <div ng-if="!ctrl.hasAccounts">
                <!-- show in-widget error -->
                <div ng-show="ctrl.accountsError" class="content-error">
                    <i class="icon icon-warning"></i>
                    <!-- todo: directive for error? -->
                    <p>{{ctrl.accountsError.message}}</p>
                    <button type="button" class="btn btn-default"
                        ng-click="ctrl.loadAccounts()">{{::ctrl.Labels.TRY_AGAIN}}</button>
                </div>

                <!-- show in-widget message (if no error) -->
                <div ng-hide="ctrl.accountsError" class="content-error">
                    <i class="icon icon-warning"></i>
                    <p>{{::ctrl.Labels.NO_ACCOUNTS}}</p>
                </div>
            </div>
        </div>

        <div ng-show="ctrl.initLoading" class="content-loading">
            <i class="icon icon-spinner icon-spin"></i>
        </div>

        <!-- todo: if accountsLoading && !initLoading, show overlay loading indicator (native?) -->
    </div>

</body>
</html>
