<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:g="http://www.backbase.com/2008/gadget" xml:lang="en">
<head>
    <meta charset="utf-8" />

    <link rel="stylesheet" href="styles/main.css" />
    <script src="$(contextRoot)/static/features/[BBHOST]/feature-mobile-plugins/mobile-plugins.js"></script>
    <script src="$(contextRoot)/static/features/[BBHOST]/feature-format-amount/format-amount.js"></script>
    <script src="$(contextRoot)/static/features/[BBHOST]/feature-avatar/avatar.js"></script>
    <script src="scripts/main.js"></script>
</head>
<body g:onload="shc.mobile.widget.transaction.init(__WIDGET__);" class="transaction-detail widget-mobile-transaction">
    <div class="container" ng-controller="MainCtrl as ctrl">
        <div class="row" ng-if="ctrl.transaction">
            <div class="container">
                <h1 class="accounts-title">{{ctrl.transaction.date}}</h1>
            </div>
            <div class="panel panel-default">
                <div class="panel-body clearfix">
                    <div class="row widget-mobile-transaction-detail">
                        <div class="col-xs-2">
                            <avatar photo-url="{{ctrl.transaction.counterPartyLogoPath}}" name="{{ctrl.transaction.counterpartyName}}"></avatar>
                        </div>
                        <div class="col-xs-5">
                            <h4 class="account-list-item-title" ng-bind="ctrl.transaction.counterpartyName"></h4>
                            <small class="text-muted account-list-item-iban" ng-bind="ctrl.transaction.transactionType"></small>
                        </div>
                        <div class="col-xs-5">
                            <div class="account-list-item-balance mobile-transaction-balance text-right"
                                 format-amount-credit-debit="{{ctrl.transaction.creditDebitIndicator}}"
                                 format-amount="{{ctrl.transaction.transactionAmount}}"
                                 format-amount-currency="{{ctrl.transaction.transactionCurrency}}"></div>
                        </div>
                    </div>  
                </div>
                <ul class="list-group mobile-transaction-wrapper">

                    <li class="list-group-item mobile-transaction-item">
                        <small class="mobile-transaction-item-heading text-muted">{{::ctrl.Labels.TRANSACTION_DATE_TIME}}</small>
                        <h6 class="mobile-transaction-item-text">{{ctrl.transaction.date}} {{ctrl.transaction.time}}</h6>
                    </li>
                    <li class="list-group-item mobile-transaction-item">
                        <small class="mobile-transaction-item-heading text-muted">{{::ctrl.Labels.TRANSACTION_TYPE}}</small>
                        <h6 class="mobile-transaction-item-text">{{ctrl.transaction.transactionType}}</h6>
                    </li>
                    <li class="list-group-item mobile-transaction-item">
                        <small class="mobile-transaction-item-heading text-muted">{{::ctrl.Labels.TRANSACTION_REFERENCE}}</small>
                        <h6 class="mobile-transaction-item-text">{{ctrl.transaction.remittanceInformation}}</h6>
                    </li>
                    <li class="list-group-item mobile-transaction-item">
                        <small class="mobile-transaction-item-heading text-muted">{{::ctrl.Labels.TRANSACTION_IBAN}}</small>
                        <h6 class="mobile-transaction-item-text">{{ctrl.iban}}</h6>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>
