/**
 * Addressbook styles
 */
.widget-addressbook {
    padding: 0;
}

.widget-addressbook .row {
    text-align: center;
}

.widget-addressbook .accounts-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow:hidden;
}

.widget-addressbook .accounts-list .transactions-group-title h3 {
    font-size: 12px;
    margin: 0;
    padding: 6px 0;
}

.widget-addressbook .accounts-list .account .iban {
    margin-top: 4px;
    font-weight: 300;
    font-size: 12px;
}

.widget-addressbook .accounts {
    margin-top: 46px;
}

.widget-addressbook .prominant-header {
    height: 40px;
    position: fixed;
    width: 100%;
    background-color: #fff;
    z-index: 2;
    top: 0;
}

.widget-addressbook .list-item {
    position: relative;
}



.widget-addressbook .initials-icon::before {
    content: attr(data-initials);
    height: 4rem;
    width: 4rem;
    display: block;
    line-height: 4rem;
    border-radius: 50%;
    font-size: 2rem;
    background: #fff;
    color: #423c35;
    margin-right: 1rem;
    text-transform: uppercase;
    text-align: center;
    float: left;
    border: 1px solid #bab2aa;
}

.widget-addressbook .items-list .list-item {
    padding: 0;
}

.widget-addressbook .items-list .list-item .col-center {
    margin: .5rem 2rem 0rem 0;
}

.widget-addressbook .header-link {
    color: #4DC2CB;
}

.widget-addressbook .header-add-contact {
    color: #AEB2B5;
}

.widget-addressbook .panel.account {
    white-space: nowrap;
}

.widget-addressbook .panel-body {
    width: 100%;
    display: inline-block;
}

.widget-addressbook .sub-menu {
    background: transparent;
    color: black;
    fill: #000;
    display: inline-block;
    position: absolute;
    right: 0;
    z-index: 0;
}

.widget-addressbook .contact-name {
    color: #3c4350;
    margin-bottom: .2rem;
}

.widget-addressbook .list-icon-plus {
    background: url("../assets/plus-icon.svg") no-repeat center;
    background-size: 100%;
    margin: .8rem 0 0 .5rem;
    display: block;
    padding: 1rem;
}

.widget-addressbook .list-icon-minus,
.widget-addressbook .is-open .list-icon-plus {
    display: none;
}

.widget-addressbook .is-open .list-icon-minus {
    background: url("../assets/minus.svg") no-repeat center;
    background-size: 100%;
    margin: .8rem 0 0 .5rem;
    display: block;
    padding: 1rem;
    opacity: .3;
}

.widget-addressbook .contact-location {
    font-weight: 200;
    font-size: 1rem;
}

.widget-addressbook .meta-data {
    text-align: left;
}

.widget-addressbook .icon.ion-search {
    background: url('../assets/search.svg') no-repeat;
    padding: .6rem;
    background-size: 100%;
    position: absolute;
    right: 1.5rem;
    top: 1.4rem;
}

.meta-info-container {
    max-height: 0;
    overflow:hidden;
    padding: 0 2rem;
    background: #fff;
    transition: max-height 1s ease-out;
}

.contact-meta-info {
    overflow: auto;
}

.contact-meta-info dt {
    float: left;
    margin-right: .5rem;
}

.widget-addressbook .is-open .meta-info-container {
    max-height: 450px;
}

.widget-addressbook .contact-meta-info {
    position: relative;
    display: block;
    width: 100%;
}

.widget-addressbook .contact-block {
    position: relative;
    display: block;
    width: 100%;
    background-color: #fff;
    transition: height .2s ease;
    height: 62px;
    margin-bottom: 1px;
}

.widget-addressbook .contact-block .contact-info {
    position: absolute;
    display: block;
    width: 100%;
    background: #fff;
    height: 62px;
    z-index: 1;
    transition: right .15s ease
}

.widget-addressbook .contact-block .contact-info .swipe-arrow {
    position: absolute;
    right: 10px;
    top: 40%;
    float: right;
    color: #aaa;
}

.widget-addressbook .contact-block .contact-info .swipe-arrow.hidden {
   opacity: 0;
}

.widget-addressbook .contact-block .contact-info .account-title {
    font-size: 18px;
    margin: 0 0 5px;
}

.widget-addressbook .contact-block .controls {
    background-color: #eb7d17;
    transition: width .15s ease;
}
.widget-addressbook .contact-block .controls .remove-account {
    height: 62px;
    width: 62px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    padding: 10px;
}

.widget-addressbook .contact-block .controls .remove-account i {
    vertical-align: middle;
}

.widget-addressbook .accounts-list > li.panel.panel-default.contact {
    margin-bottom: 0;
}