.native {
	height: 200px;
	background-color: #eee;
	margin: 5px;
	border: 1px dotted #bbb;
	text-align: center;
}

.native .labels {
	position: relative;
  	top: 50%;
  	transform: translateY(-50%);
  	font-family: helvetica, sans-serif;
  	letter-spacing: 3pt;
}

.native .labels .widget {
  	color: #ddd;
  	font-size: 16pt;
  	text-transform: uppercase;
}

.native .labels .class {
  	color: #ccc;
  	font-size: 24pt;
}
