/**
 * widget-mobile-transfer-review styles.
 */

.widget-mobile-transfer-review {
    min-height: 100px;
    height: 100%;
}
.widget-mobile-transfer-review-from {
    border-bottom: 1px solid #ece8e4;
    .account-title {
        font-size: 18px;
        line-height: 22px;
    }
    .account-balance {
        font-size: 18px !important;
        float: right;
        position: relative;
        top: -12px;
        .text-muted {
            font-size: 18px !important; 
        }
    }
}

.widget-mobile-transfer-review-beneficiary-title {
    margin: 5px 0;
}

.widget-mobile-transfer-review-beneficiary-account-balance {
    font-size: 20px;
    .currency {
        font-size: 20px;
        color: #423c35;
    }
}

.widget-mobile-transfer-review-beneficiary-review {
    font-size: 15px;
}