{{#contentRef}}
<div class="lp-enrollment-footer">
    {{#phone_prefix}}{{phone_prefix}}{{/phone_prefix}}
    {{#phone}}
        <span class="phone">
            <i class="lp-icon lp-icon-small lp-icon-phone"></i>&nbsp;{{phone}}
        </span>
    {{/phone}}
    {{#email_prefix}}{{email_prefix}}{{/email_prefix}}
    {{#email}}
        <span class="email">
            <i class="lp-icon lp-icon-small lp-icon-envelope-alt"></i>&nbsp;<a href="mailto:{{ email }}" target="_top">{{ email }}</a>
        </span>
    {{/email}}
</div>
{{/contentRef}}
