<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:g="http://www.backbase.com/2008/gadget" xml:lang="en">
    <head>
        <title>Mobile Addressbook</title>
        <meta http-equiv="Content-Type" content="text/xml; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="HandheldFriendly" content="True" />
        <meta name="MobileOptimized" content="320" />
        <!-- externals -->
        <script src="$(contextRoot)/static/features/[BBHOST]/feature-iban/iban.js"></script>
        <script src="$(contextRoot)/static/features/[BBHOST]/feature-avatar/avatar.js"></script>
        <script src="$(contextRoot)/static/features/[BBHOST]/feature-contact-item/contact-item.js"></script>
        <script src="$(contextRoot)/static/features/[BBHOST]/feature-search-box/search-box.js"></script>
        <script src="$(contextRoot)/static/features/[BBHOST]/feature-beneficiary-service/service-beneficiary.js"></script>
        <script src="$(contextRoot)/static/features/[BBHOST]/feature-mobile-plugins/mobile-plugins.js"></script>

        <!-- widget -->
        <link rel="stylesheet" href="dist/styles/widget-mobile-addressbook.css" type="text/css" />
        <script src="dist/widget-mobile-addressbook.js"></script>
    </head>

    <body g:onload="window['widget-mobile-addressbook'](__WIDGET__).start();"
        ng-controller="MainCtrl as mainCtrl"
        ng-cloak="ng-cloak">

    <div ng-controller="ErrorCtrl as errorCtrl"></div>

    <article class="widget-addressbook">

        <header class="prominant-header">
            <div class="search-element shc-widget-transactions-mobile-search" has-focus="mainCtrl.searchHasFocus" search-box="mainCtrl.searchText" placeholder="Search"
                 ng-class="{'focused': mainCtrl.searchHasFocus}"></div>
        </header>

        <section class="accounts">
            <ul class="accounts-list">
                <li ng-repeat="(k,v) in mainCtrl.groupedContacts">
                    <ul class="accounts-list">
                        <li ng-repeat="contact in v | filter:mainCtrl.searchText track by contact.id"
                            class="panel panel-default contact">
                            <div class="panel-heading transactions-group-title" ng-if="$first">
                                <h3 ng-bind="k"></h3>
                            </div>
                            <div class="contacts-list">
                                <div class="contact-block"
                                     contact-item=""
                                     identifier="{{ contact.id }}"
                                     image="{{ contact.photoUrl }}"
                                     title="{{ contact.name }}"
                                     subtitle="{{ contact.account | iban }}"
                                     threshold="0"
                                     click-event="mainCtrl.showDetails(contact.id)" >
                                    <!-- contact-item: directive, expects the contact object -->
                                    <!-- ask-delete-event: expects a method to show the confirmation dialog -->
                                    <!-- delete-event: expects a method to properly delete the contact -->
                                    <!-- click-even: expects a method to open the detail widget -->
                                </div>

                                <!--<aside class="meta-info-container">-->
                                <!--<dl class="contact-meta-info">-->
                                <!--&lt;!&ndash; TODO: Request for new model so traversing isnt necesarry &ndash;&gt;-->
                                <!--&lt;!&ndash; TODO: spinner while details are loading &ndash;&gt;-->
                                <!--<dt>Full name:</dt>-->
                                <!--<dd>{{mainCtrl.details[contact.id].name}}</dd>-->

                                <!--<dt>Account Number: </dt>-->
                                <!--<dd>{{mainCtrl.details[contact.id].account}}</dd>-->

                                <!--<dt>Phone: </dt>-->
                                <!--<dd>{{mainCtrl.details[contact.id].phone}}</dd>-->

                                <!--<dt>Email: </dt>-->
                                <!--<dd>{{mainCtrl.details[contact.id].email}}</dd>-->
                                <!--</dl>-->
                                <!--</aside>-->
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>

        </section>

        <div class="shc-widget-transactions-mobile-load-more"
             ng-class="{'focused': mainCtrl.searchHasFocus}"
             ng-show="mainCtrl.searchText.length &amp;&amp; !(mainCtrl.contacts | filter:mainCtrl.searchText).length">There are no transactions containing your search query</div>

        <!--<footer>
            <button class="button button-energized" ng-click="mainCtrl.modifyContact()">Add Beneficiary</button>
        </footer>-->
    </article>
    </body>
</html>
