article, aside, details, figcaption, figure, footer,
header, main, menu, nav, section, summary, progress,
a, abbr, b, strong, dfn, mark, small, sub, sup, img,
svg, code, kbd, pre, samp, hr, button, select, legend,
div, table, span, tr, td, th {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}
