
@font-face {
    font-family: 'FontAwesome';
    src:
        url('../fonts/fontawesome.ttf?du449o') format('truetype'),
        url('../fonts/fontawesome.woff?du449o') format('woff'),
        url('../fonts/fontawesome.svg?du449o#fontawesome') format('svg');
    font-weight: normal;
    font-style: normal;
}

.icon {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'FontAwesome' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Enable Ligatures ================ */
    letter-spacing: 0;
    -webkit-font-feature-settings: "liga";
    -moz-font-feature-settings: "liga=1";
    -moz-font-feature-settings: "liga";
    font-feature-settings: "liga";

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@icon-check: "\f00c";
@icon-close: "\f00d";
@icon-remove: "\f00d";
@icon-times: "\f00d";
@icon-trash: "\f014";
@icon-list: "\f022";
@icon-lock: "\f023";
@icon-book: "\f02d";
@icon-pencil: "\f040";
@icon-chevron-left: "\f053";
@icon-chevron-right: "\f054";
@icon-mail-forward: "\f064";
@icon-share: "\f064";
@icon-plus: "\f067";
@icon-minus: "\f068";
@icon-calendar: "\f073";
@icon-chevron-up: "\f077";
@icon-chevron-down: "\f078";
@icon-credit-card: "\f09d";
@icon-caret-down: "\f0d7";
@icon-caret-up: "\f0d8";
@icon-caret-left: "\f0d9";
@icon-caret-right: "\f0da";
@icon-mail-reply: "\f112";
@icon-reply: "\f112";
@icon-question: "\f128";
@icon-info: "\f129";
@icon-exclamation: "\f12a";
@icon-unlock: "\f13e";
@icon-eur: "\f153";
@icon-euro: "\f153";
@icon-gbp: "\f154";
@icon-dollar: "\f155";
@icon-usd: "\f155";
@icon-cc-visa: "\f1f0";
@icon-cc-mastercard: "\f1f1";
@icon-cc-discover: "\f1f2";
@icon-cc-amex: "\f1f3";

.icon-check {
    &:before {
        content: @icon-check;
    }
}
.icon-close {
    &:before {
        content: @icon-close;
    }
}
.icon-remove {
    &:before {
        content: @icon-remove;
    }
}
.icon-times {
    &:before {
        content: @icon-times;
    }
}
.icon-trash {
    &:before {
        content: @icon-trash;
    }
}
.icon-list {
    &:before {
        content: @icon-list;
    }
}
.icon-lock {
    &:before {
        content: @icon-lock;
    }
}
.icon-book {
    &:before {
        content: @icon-book;
    }
}
.icon-pencil {
    &:before {
        content: @icon-pencil;
    }
}
.icon-chevron-left {
    &:before {
        content: @icon-chevron-left;
    }
}
.icon-chevron-right {
    &:before {
        content: @icon-chevron-right;
    }
}
.icon-mail-forward {
    &:before {
        content: @icon-mail-forward;
    }
}
.icon-share {
    &:before {
        content: @icon-share;
    }
}
.icon-plus {
    &:before {
        content: @icon-plus;
    }
}
.icon-minus {
    &:before {
        content: @icon-minus;
    }
}
.icon-calendar {
    &:before {
        content: @icon-calendar;
    }
}
.icon-chevron-up {
    &:before {
        content: @icon-chevron-up;
    }
}
.icon-chevron-down {
    &:before {
        content: @icon-chevron-down;
    }
}
.icon-credit-card {
    &:before {
        content: @icon-credit-card;
    }
}
.icon-caret-down {
    &:before {
        content: @icon-caret-down;
    }
}
.icon-caret-up {
    &:before {
        content: @icon-caret-up;
    }
}
.icon-caret-left {
    &:before {
        content: @icon-caret-left;
    }
}
.icon-caret-right {
    &:before {
        content: @icon-caret-right;
    }
}
.icon-mail-reply {
    &:before {
        content: @icon-mail-reply;
    }
}
.icon-reply {
    &:before {
        content: @icon-reply;
    }
}
.icon-question {
    &:before {
        content: @icon-question;
    }
}
.icon-info {
    &:before {
        content: @icon-info;
    }
}
.icon-exclamation {
    &:before {
        content: @icon-exclamation;
    }
}
.icon-unlock {
    &:before {
        content: @icon-unlock;
    }
}
.icon-eur {
    &:before {
        content: @icon-eur;
    }
}
.icon-euro {
    &:before {
        content: @icon-euro;
    }
}
.icon-gbp {
    &:before {
        content: @icon-gbp;
    }
}
.icon-dollar {
    &:before {
        content: @icon-dollar;
    }
}
.icon-usd {
    &:before {
        content: @icon-usd;
    }
}
.icon-cc-visa {
    &:before {
        content: @icon-cc-visa;
    }
}
.icon-cc-mastercard {
    &:before {
        content: @icon-cc-mastercard;
    }
}
.icon-cc-discover {
    &:before {
        content: @icon-cc-discover;
    }
}
.icon-cc-amex {
    &:before {
        content: @icon-cc-amex;
    }
}
