@import "@{bootstrap-path}/mixins.less";

html {
    height: 100%;
}

body {
    font-family: 'Roboto';
    height: 100%;
}

.bb-app-page-main {
    min-height: 100%;
}

// Panels styling
.panel {
    .box-shadow(0 0 0 rgba(0,0,0,0));
    border: none;
    padding: 0;
    &.panel-default {
        padding: 0;
        margin: 0;
    }
    .panel-body {
        padding: 10px 15px;
    }
    .panel-heading {
        border: none;
        padding: 5px 15px;
        margin: 0;
        background-color: @brand-element-background-gray;
        position: -webkit-sticky;
        position: sticky;
        z-index: 1;
        .panel-title {
            margin: 5px 0 6px;
            font-size: 12px;
            .btn.btn-link {
                padding: 0 6px 12px 12px;
                margin-right: -6px;
                margin-top: -3px;
                margin-bottom: -12px
            }
        }
    }
}

// Formatting the 'formatAmount' directive (display formatted values for currency amounts)
// General formatting
//.format-amount {
//    font-size: 30px;
//    font-weight: 500;
//}
//.format-amount .currency {
//    font-size: 15px;
//    vertical-align: text-top;
//}
//
//.format-amount .decimals {
//    font-size: 20px;
//}
//.format-amount .account-balance-label {
//    font-size: 9px;
//    font-weight: 300;
//    margin-bottom: -4px;
//}


// Formatting the account panel directive
.account-details {
    position: relative;
    h1 {
        font-size: 12px;
    }
    .account {
        position: relative;
    }
    .detail-icon {
        position: absolute;
        right: 10px;
        top: 10px;
    }
    .account-title {
        margin: 0;
        font-size: 15px;
        font-weight: 500;
        width: 80%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .iban {
        font-size: 12px;
        font-weight: 300;
    }
    .account-buttons {
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .account-balance-label {
        font-size: 12px;
        font-weight: 300;
        margin-bottom: -8px;
    }
    .account-balance {
        padding: 0;
        margin: 0;
    }
}

// Formatting transfer widgets
.select-account {
    min-height: 100px;
    .panel-body {
        background-color: #fff;
        padding: 15px;
        .account-select-button {
            padding: 20px 0;
            font-size: 15px;
            color: #bab2aa;
            .detail-icon {
                float: right;
                color: #bab2aa;
                font-size: 20px;
            }
        }
    }
    &.no-action {
        .detail-icon {
            display: none;
        }
    }
}
.transfer-data {
    label {
        padding: 6px 14px;
    }
    .panel-body {
        background-color: #fff;
        .account-title {
            font-size: 18px;
            line-height: 22px;
        }
    }
    .account-details {
        .account-balance-label {
            display: none;
        }
        .account-balance {
            .text-muted {
                color: #423c35;
                font-size: 30px;
            }
            font-size: 30px;
        }
    }
    .recipient-form {
        .form-group, .review-info {
            background-color: #fff;
            padding: 12px 14px;
            margin-bottom: 1px;
            font-size: 15px;
            input {
                width: 100%;
                border: none;
                background: transparent;
                &.beneficiary {
                    width: 80%;
                }
            }
            textarea {
                width: 100%;
                border: none;
                background: transparent;
            }
            button.address-book {
                float: right;
            }
        }
    }
    .review {
        padding: 14px 14px;
        background-color: #fff;
        button {
            padding: 16px;
        }
    }
}

// FAQ widget
.widget-faq {
    font-size: 14px;
    .question-text {
        font-weight: bold;
    }
        .faq-panel {
        margin-bottom: 1px;
    }
        .question-q {
        color: @gray-light;
        font-weight: bold;
    }
        .answer-a {
        color: @brand-info;
        font-weight: bold;
    }
    .widget-faq {
    }
}

// Search box directive
.search-element {
    .search {
        width: 100%;
        background-color: #fff;
        position: relative;
        padding: 6px;
        text-align: left;
        &:before {
            content: "\f002";
            font-family: FontAwesome;
            font-style: normal;
            font-weight: normal;
            text-decoration: inherit;
            color: #bab2aa;
            font-size: 16px;
            padding-right: 0.5em;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 15px;
            z-index: 1;
        }
        .search-input-group {
            position: relative;
            input {
                &.search-field {
                    width: 100%;
                    background-color: @brand-element-background-gray;
                    padding: 4px 32px;
                    font-size: 15px;
                    border: none;
                    border-radius: 6px;
                    left: 0;
                    margin: 0;
                    transition: width .1s linear;
                }
                &.focused {
                    width: 81%;
                }
            }
            .clear-icon {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                margin-left: -22px;
                color: #bab2aa;
            }
        }

        .cancel-btn {
            position: absolute;
            right: -6px;
            top: 6px;
        }

    }
}

.widget-advanced-content-template-body {
    color: #fff;
    margin-bottom: 10px;
}
