<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:g="http://www.backbase.com/2008/gadget" xml:lang="en">

<head>
    <title>Mobile Transfer Initiation</title>
    <meta http-equiv="Content-Type" content="text/xml; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <!-- externals -->
    <script src="$(contextRoot)/static/features/[BBHOST]/feature-mobile-plugins/mobile-plugins.js"></script>
    <!-- widget -->
    <link rel="stylesheet" href="dist/styles/widget-mobile-transfer-schedule.css" type="text/css" />
    <script src="dist/widget-mobile-transfer-schedule.js"></script>
</head>

<body g:onload="window['widget-mobile-transfer-schedule'](__WIDGET__).start();"
    ng-controller="MainCtrl as mainCtrl"
    ng-cloak="ng-cloak"
    class="widget-mobile-transfer-schedule">

    <!-- Start date -->
    <div class="widget-mobile-transfer-schedule-item"
         ng-click="mainCtrl.scheduleTransaction()">
        <label class="widget-mobile-transfer-schedule-item-label">{{::mainCtrl.Label.START_DATE}}</label>
        <a href="#" x-apple-data-detectors="false" class="widget-mobile-transfer-schedule-item-text">{{mainCtrl.schedule.dateText}}</a>
    </div>

    <!-- Frequency -->
    <div class="widget-mobile-transfer-schedule-item"
         ng-click="mainCtrl.scheduleFrequency()">
        <label class="widget-mobile-transfer-schedule-item-label">{{::mainCtrl.Label.FREQUENCY}}</label>
        <div class="widget-mobile-transfer-schedule-item-text">{{mainCtrl.schedule.frequencyText}}</div>
    </div>

    <div class="widget-mobile-transfer-schedule-button">
        <button class="btn btn-info btn-block" ng-click="mainCtrl.saveSchedule()">Save</button>
    </div>

</body>

</html>
